/*
  Author: Manfred Huber
  Description: Custom styles for the MiniCalendar component.
*/

.minicalendar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.minicalendar .title {
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-header-text-color);
    text-align: center;
}

.minicalendar:not([disabled]) .day:not(.readonly):not(.disabled) {
    cursor: pointer;
}

.minicalendar[disabled] .title {
    color: var(--lumo-disabled-text-color);
}

.minicalendar .weekday {
    font-size: var(--lumo-font-size-s);
    color: var(--lumo-secondary-text-color);
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.minicalendar .weeknumber {
    font-size: .65rem;
    color: var(--lumo-tertiary-text-color);
    text-align: left;
    vertical-align: middle;
    line-height: 30px;
    white-space: nowrap;
}

.minicalendar .day {
    width: 30px;
    height: 30px;
    margin: 1px;
    background-color: var(--lumo-contrast-5pct);
    border-radius: 15%;
    text-align: center;
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
    vertical-align: middle;
    line-height: 30px;
}

.minicalendar[disabled] .day,
.minicalendar .day.disabled {
    color: var(--lumo-disabled-text-color);
}

.minicalendar .day.disabled {
    cursor: not-allowed;
}

.minicalendar:not([disabled]) .day:not(.readonly, .disabled) {
    cursor: pointer;
}

.minicalendar .day.rounded {
    border-radius: 50%;
}

.minicalendar .day.highlight-weekend {
    background-color: var(--lumo-contrast-20pct);
}

.minicalendar .day.highlight-current-day {
    font-weight: bold;
    background-color: var(--lumo-contrast-30pct);
}

.minicalendar .day.selected {
    background-color: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
}

.minicalendar[disabled] .day.selected,
.minicalendar .day.selected.read-only,
.minicalendar .day.selected.disabled {
    background-color: var(--lumo-primary-color-10pct);
    color: var(--lumo-tertiary-text-color);
}

.minicalendar:not([disabled]) .day.hover:not(.readonly, .disabled):hover {
    box-shadow: var(--lumo-box-shadow-xs);
}
